/* All styles for directory 'me_and_sam' */

@media (min-width: 20em) {

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

input:before {
  position: relative;
  right: 930px;
  font-size: 2em;
  content:'\2630';
  color: #fff;
  cursor: pointer;
}

nav {
  width: 100%;
  height: 100vh;
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

ul {
  padding: 0;
  padding-top: 2.5em;
}
  li {
    list-style-type: none;
    text-align: center;
    margin-bottom: 1em;
  }
    a {
      text-decoration: none;
      font-size: 2em;
    }

input:checked+nav {
  display: block;
}

input:checked:before {
  color: #000;
}

input {
  float: right;
  position: absolute;
  right: -900px;
  z-index: 2;
}

.background {
  height: 100vh;
  background-image: url("../images/mac_and_me_v2.jpg");
  background-size: cover;
  background-position: 100% 120%;
  background-repeat: no-repeat;
}

.circular-title {
  position: absolute;
  top: 30%;
  left: 50%;
  height: 30%;
  width: 45%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: pink;
}


}

@media (min-width: 30em) {

}

@media (min-width: 48em) {

}

@media (min-width: 62em) {

}

@media (min-width: 75em) {

}